@font-face {
    font-family: "secret";
    src: url(./fonts/topsecret.ttf) format("truetype");
}

body{
  font-family: "secret";
  position: static;
  background: #141e30; /* fallback for old browsers */
  color: white; /* fallback for old browsers */
  word-spacing: 7.5px;
}

section{
  text-align : center;
  margin     : 2.5%;
  padding    : 2.5%;
}

td{
  text-align: center;
}

thead{
  margin-bottom : 10px;
}

th{
  width : 50px;
  text-align: center;
}

#dashboard{
  margin      : 0;
  padding-top : 0%;
  position    : relative;
  height      : 100%;
  width      : 100%;
}

#title{
  margin     : 0;
  width      : 100%;
  text-align : left;
}

#options{
  padding-top : 0%;
  margin-top : 0%;
  margin-bottom : 0%;
}

#players{
  background : #1e2d48;
  margin     : 2.5%;
  width      : 45%;
  float      : left;
}

#results{
  background : #1e2d48;
  width      : 45%;
  float       : right;
}

.table-container{
  padding : 5%;
  background: #141e30; /* fallback for old browsers */
  margin     : 2.5%;
}

.live-dot{
  height: 25px;
  width: 25px;
  background-color: #00b300;
  border-radius: 50%;
  display: inline-block;
}

.dead-dot{
  height: 25px;
  width: 25px;
  background-color: #cc0000;
  border-radius: 50%;
  display: inline-block;
}

.inactive-dot{
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}
